<ngx-spinner bgColor="rgba(51,51,51,0.8)"
size="large"
color="#f27100"
type="ball-clip-rotate-multiple">
<p class="text-white">Loading chef list... </p>
</ngx-spinner>
<div class="container mt-4" style="padding-top: 68px">
  <div class="row">
    <div class="col-sm-10">
      <h4><i class="fas fa-users-cog mr-2"></i> List of Chefs</h4>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#chefModal">
        New <i class="fa fa-plus ml-2"></i>
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Sr no</th>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Edit</th>
              <!-- <th>Remove</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chef of allChefs; let i = index;">
              <td>{{ i+1 }}</td>
              <td>{{ chef.name }}</td>
              <td>{{ chef.email }}</td>
              <td>{{ chef.contact }}</td>
              <td class="text-primary">
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#chefModal" (click)="editChef(chef);">
                    <i class="fas fa-edit"></i>
                </button>
              </td>
              <!-- <td class="text-danger">
                  <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#deleteChefModal" (click)="initDelete(chef)" >
                      <i class="fas fa-user-times"></i>
                  </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- User modal -->
<!-- Modal -->
<div class="modal fade" id="chefModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit mr-2"></i>{{mode === 'new'? 'New' : 'Edit'}} Chef</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="chefForm.reset(); mode = 'new';">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="chefForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="form-row">
                  <div class="form-group col-sm-8 offset-sm-2">
                    <input type="text" class="form-control" placeholder="Full name" formControlName="name">
                    <div class="form-text text-danger" *ngIf="!chefForm.get('name').valid && chefForm.get('name').touched">
                        <i class="fas fa-times-circle mr-2"></i>Name cannot be blank.
                    </div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-8 offset-sm-2">
                        <input type="text" id="chefEmail" class="form-control"
                        autocomplete="no" placeholder="Email" formControlName="email">
                        <div class="form-text text-danger" *ngIf="chefForm.get('email').hasError('required') && chefForm.get('email').touched">
                            <i class="fas fa-times-circle mr-2"></i>Email cannot be blank.
                        </div>
                        <div class="form-text text-danger" *ngIf="chefForm.get('email').hasError('email') && chefForm.get('email').touched">
                            <i class="fas fa-times-circle mr-2"></i>Please enter a valid email.
                        </div>
                    </div>
                </div>
                <div class="form-row" *ngIf="this.mode === 'new'">
                    <div class="form-group col-sm-8 offset-sm-2">
                        <input type="password" id="chefPass" autocomplete="no"
                         class="form-control" placeholder="Password" formControlName="password">
                        <div class="form-text text-danger" *ngIf="chefForm.get('password').hasError('required') && chefForm.get('password').touched">
                            <i class="fas fa-times-circle mr-2"></i>Password cannot be blank
                        </div>
                        <div class="form-text text-danger" *ngIf="chefForm.get('password').hasError('minlength') && chefForm.get('password').touched">
                            <i class="fas fa-times-circle mr-2"></i>Password should atleast contain 6 characters.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-8 offset-sm-2">
                        <input type="text" class="form-control" placeholder="Contact" formControlName="contact">
                        <div class="form-text text-danger" *ngIf="chefForm.get('contact').hasError('required') && chefForm.get('contact').touched">
                            <i class="fas fa-times-circle mr-2"></i>Contact should not be blank.
                        </div>
                        <div class="form-text text-danger" *ngIf="chefForm.get('contact').hasError('pattern') && chefForm.get('contact').touched">
                            <i class="fas fa-times-circle mr-2"></i>Please enter a valid mobile number.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-4 offset-sm-2">
                        <button class="btn btn-primary btn-block" [disabled]="!chefForm.valid" *ngIf="!showLoader">
                          Submit <i class="fa fa-save ml-2"></i>
                        </button>

                        <button class="btn btn-primary btn-block" type="button" disabled *ngIf="showLoader">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Please wait...
                        </button>

                    </div>
                    <div class="form-group col-sm-4">
                        <button class="btn btn-secondary btn-block" type="button" data-dismiss="modal">
                          Cancel <i class="fa fa-ban ml-2"></i>
                        </button>
                    </div>
                </div>
          </form>

        </div>
      </div>
    </div>
  </div>

<!-- User modal -->



<!-- Delete Chef Modal -->

<!-- <div class="modal fade" id="deleteChefModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-exclamation-circle mr-2"></i>Delete {{ editedChef?.name }}?
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0; margin: 0;">
        <div class="form-row mt-4">
            <div class="form-group col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                <button class="btn btn-danger btn-block" (click)="delteChef()" *ngIf="!showLoader">
                  Confirm <i class="fas fa-check-circle ml-2"></i>
                </button>

                <button class="btn btn-danger btn-block" type="button" disabled *ngIf="showLoader">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Please wait...
                </button>

              </div>
              <div class="form-group col-md-4 col-sm-4">
                  <button class="btn btn-secondary btn-block" data-dismiss="modal">
                    Cancel <i class="fas fa-times-circle ml-2"></i>
                  </button>
              </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Delete Chef Modal -->
